body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #ac4b1c;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  color: #ac4b1c;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #c87941;
}

a {
  color: #c87941;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-color: #c8c6a7;
  border-width: 10px;
  margin-left: auto;
}

p {
  line-height: 2;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(172, 75, 28, 0.6);
  width: 130px;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: grey;
}

.awebdeveloper{
  font-weight: normal;
  line-height: 2;
}

.top-container {
  background-color: #a3d2ca;
  position: relative;
  padding-top: 200px;
  padding-bottom: 50px;
}

.top-flower {
  width: 15%;
  height: 15%;
  position: absolute;
  right: 20%;
  top: 10%;
}

.bottom-flower {
  width: 12%;
  height: 12%;
  position: absolute;
  left: 20%;
  bottom: 35%;
}

.longflower {
  width: 50%;
  height: 10%;
}
.Jen {
  width:200px;
  height:200px;
}

.skill-row {
  width:50%;
  margin: 30px auto 0;
  text-align: left;
}

.skills {
  padding-top: 30px;
  padding-bottom: 60px;
}

.webdev {
  width: 35%;
  float: left;
  margin-right: 10px;
}

.baking {
  width: 35%;
  float: right;
  margin-left: 10px;
}

.intro {
  color: #40514e;
}

.profile {
  padding-bottom: 60px;
  margin: auto;
  width: 30%;
}

.contact-me {
  padding: 30px;
  line-height: 2;
}

.middle-container {
  background-color: #dbf6e9;
  padding-top: 100px;
  padding-bottom: 10px;
}

.bottom-container {
  background-color: #c87941;
  padding-top: 30px;
  line-height: 2;
}

.footer-link {
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  color: white;
}

.footer-link:hover {
  color: #ac4b1c;
}

.mark {
  color: white;
  margin-bottom: 0;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 5px;
  background: #c87941;
  text-decoration: none;
}

.btn:hover {
  color: #ac4b1c;
  text-decoration: none;
}

.navbar {
  position:fixed;
  top:50%;
  left: 85%;
}

@media (max-width:800px) {
  .navbar {
    top: 70%;
  }
  li a {
    text-align: left;
    font-size: 0.6rem;
    padding-left: 10px;
  }
}
